<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue try1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="slide" id="slideArea">
        <h1>輪播圖</h1>
        <slide-image v-for="image in images" :url="image"></slide-image>
        <a class="btn sub" id="subPage">&#10094;</a>
        <a class="btn add" id="addPage">&#10095;</a>
        <a class="auto" id="autoPlay" onclick="autoPlay(this)">&#9658;</a>
    </div>

    <div class="image-list" id="js_imageList">
        <h1>燈箱</h1>
        <image-show v-for="image in images" :src="image" @click.native="showBox"></image-show>
    </div>

    <!-- 燈箱 -->
    <div class="model" id="lightBox" @click="close">
        <button class="close">X</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./try1.js"></script>
</body>
</html>